 .btn-img {
            background-image: "https://www.flaticon.com/svg/static/icons/svg/236/236831.svg";
        }

        .bg-light {
            background-color: #AACFBF !important;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #393939 !important;
            font-weight: bold;
        }

        .nav-item .member {
            display: flex;
        }

        .nav-item .member .memberpic {
            width: 40px;
            margin-right: 5px;
            outline: none;
        }

        .nav-item .member .membername {
            float: right;
            align-self: center;
            display: block;
        }