button.alter {
	font-size: 15px;
	font-weight: 600;
	color: #0f868c;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #0f868c;
	text-align: center;
	padding: 1;
}

table {
	table-layout: auto
}

td tr {
	max-width: 100%;
	white-space: nowrap;
}

th.colum1 {
	height: auto;
	text-align: left;
	font-size: 15px;
}


