body {
	font-size: 100%;
	font-family: Microsoft JhengHei;
}

#body {
	width: 100%;
	height: 750px;
}

#left {
	width: 20%;
	height: 750px;
	float: left;
}

#center {
	width: 60%;
	height: 750px;
	float: left;
	line-height: 1;
}

#chead {
	width: 100%;
	height: 70px;
	text-align: left;
	float: left;
	display: flex;
	align-items: center;
}

#chead ul {
	list-style: none;
	padding-left: 0px;
}

#chead button {
	outline: none;
}

#chead a {
	margin-left: 8px;
	font-style: italic;
	text-decoration:underline;	
}

#cbody {
	width: 100%;
	height: 630px;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;	
}

#cfoot button {
	outline: none;
}

#sig-canvas {
	border: 2px dotted #CCCCCC;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 5px;
}

#signbtn {
	margin-top: 5px;
	margin-bottom: 5px;
}

#sig-image {
	width: 35%;
	height:150px;
	margin: 5px 0;
	display: none;
	border: 1px solid black;
	border-radius: 15px;
}

#signnotice {
	display: none;
	margin-top: 135px;
	margin-left: 5px;
	font-weight: bold;
	font-style: italic;
	color: gray;
}

.signfunfont {
	display: inline-block;
	margin-top: 11px;
}

.signimageconfirm {
	width: 40%;
}

#color {
	margin-top: 5px;
	margin-left: 15px;
	border-radius: 20px;
	width: 20px;
	outline: none;
}

#size {
	margin-left: 15px;
	width: 50px;
}

#other_con_item {
	display: none;
}

#other_con_item_show {
	margin-left: 3px;
}

#other_con_item_hide {
	display: none;
	margin-left: 3px;
}

#other_hide {
	display: none;
}

#cfoot {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#right {
	width: 20%;
	height: 700px;
	float: left;
}

#foot {
	width: 100%;
	height: auto;
	float: left;
}

.pagebtn {
	width: 10%;
	height: 40px;
	float: left;
	margin: 0 20px;
	font-size: 100%;
	font-weight: bold;
	background-color: #ECEC88;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: 2px 2px 6px silver;
	padding: 0;
}

.pagebtn:hover {
	background-color: lightgray;
}

.pagebtn:active {
	background-color: gray;
	transform: translateY(5px);
}

#housenav {
	overflow: hidden;
	position: relative;
	transform: translateX(0px);
	height: 700px;
	width: 200px;
	transition: all 800ms cubic-bezier(.8, 0, .33, 1);
	border-radius: 0% 10% 10% 0%;
	background: linear-gradient(180deg, #E9FCF4 20%, #DDFAED 80%);
	margin-top: 10px;
}

#housenav.nav-open {
	transform: translateX(-100px);
	border-radius: 0% 0% 100% 50%;
	background: none;
}

#housenav .menu-btn {
	position: absolute;
	top: 10%;
	right: 5%;
	padding: 0;
	width: 30px;
	cursor: pointer;
	z-index: 2;
}

#housenav .menu-btn .line {
	padding: 0;
	width: 30px;
	background: black;
	height: 2px;
	margin: 5px 0;
	transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

#housenav .menu-btn .line.line--1 {
	width: 30px;
	transform: rotate(45deg) translateY(10px);
}

#housenav .menu-btn .line.line--1.line-cross {
	width: 30px;
	transform: rotate(0) translateY(0);
}

#housenav .menu-btn .line.line--2 {
	width: 28px;
	transform: translate(30px);
	opacity: 0;
}

#housenav .menu-btn .line.line--2.line-fade-out {
	width: 26px;
	transform: translateX(0);
	opacity: 1;
}

#housenav .menu-btn .line.line--3 {
	width: 30px;
	transform: rotate(-45deg) translateY(-10px);
}

#housenav .menu-btn .line.line--3.line-cross {
	width: 22px;
	transform: rotate(0) translateY(0);
}

#housenav .nav-links {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateX(0px);
	opacity: 1;
	transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

#housenav .nav-links.fade-in {
	opacity: 0;
	transform: translateX(-100px);
}

#housenav .nav-links .link {
	margin: 10px 0;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: all 300ms cubic-bezier(.9, 0, .33, 1);
	border: none;
	background-color: transparent;
	outline: none;
}

#housenav .nav-links .link:hover {
	color: rgba(0, 0, 0, .5);
}

.bg-light {
	background-color: #D7C8B6 !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #393939 !important;
	font-weight: bold;
}

.nav-item .member {
	display: flex;
}

.nav-item .member .memberpic {
	width: 40px;
	margin-right: 5px;
	outline: none;
}

.nav-item .member .membername {
	float: right;
	align-self: center;
	display: block;
}

@media ( min-width : 901px) and (max-width: 1400px) {
	#housenav {
		transform: translateX(-30px);
		width: 170px;
	}
	#center {
		width: 70%;
	}
	#right {
		width: 10%;
	}
	.pagebtn {
		width: 15%;
	}
}

@media ( max-width : 900px) {
	#center {
		width: 80%;
	}
	#cbody {
		height: 600px;
	}
	.pagebtn {
		width: 25%;
	}
	#right {
		display: none;
	}
	#housenav {
		transform: translateX(-90px);
		width: 140px;
		border-radius: 0% 0% 100% 50%;
		background: none;
	}
	#housenav.nav-open {
		transform: translateX(0px);
		border-radius: 0% 10% 10% 0%;
		background: #E6E6DE;
	}
	#housenav .menu-btn .line.line--1 {
		width: 30px;
		transform: rotate(0) translateY(0);
	}
	#housenav .menu-btn .line.line--1.line-cross {
		width: 30px;
		transform: rotate(45deg) translateY(10px);
		background: rgba(0, 0, 0, 0.6);
	}
	#housenav .menu-btn .line.line--2 {
		width: 26px;
		transform: translateX(0);
		opacity: 1;
	}
	#housenav .menu-btn .line.line--2.line-fade-out {
		width: 28px;
		transform: translate(30px);
		opacity: 0;
	}
	#housenav .menu-btn .line.line--3 {
		width: 22px;
		transform: rotate(0) translateY(0);
	}
	#housenav .menu-btn .line.line--3.line-cross {
		width: 30px;
		transform: rotate(-45deg) translateY(-10px);
		background: rgba(0, 0, 0, 0.6);
	}
	#housenav .nav-links {
		opacity: 0;
		transform: translateX(-100px);
	}
	#housenav .nav-links.fade-in {
		transform: translateX(0px);
		opacity: 1;
	}		
}

mark {
  --color1: #00FFE2;
  --color2: #00FFE2;
  --bg-height: 40%;
    
  all: unset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color2)));
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--bg-height);
  -webkit-animation: highlight 2000ms 1 ease-out;
          animation: highlight 2000ms 1 ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}


@-webkit-keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}


@keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}

main {
  width: min(50ch, 80%);
  margin: 0 auto;
  padding: 100px 0;
}