/*========泓元區==========================================================
[ Header ]*/
        body.landing #header {
            background-color: #AACFBF;
            left: 0;
            position: fixed;
            top: 0;
        }

        body.landing #header nav a {
            color: #4E6258;
        }
        #header {
            background-color: #383b43;
            color: #ffffff;
            cursor: default;
            font-size: 1.1em;
            height: 3.5em;/*4em*/
            line-height: 4em;/*5em*/
            width: 100%;
            z-index: 10000;
        }

        #header h1 {
            color: #ffffff;
            height: inherit;
            left: 3em;
            line-height: inherit;
            margin: 0;
            padding: 0;
            position: absolute;
        }

        #header h1 a {
            font-size: 1em;
        }
        #header h1 a:hover {
            color: #4E6258;
        }
        #header nav {
            height: inherit;
            line-height: inherit;
            position: absolute;
            right: 3em;
            vertical-align: middle;
        }

        #header nav>ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

        #header nav>ul>li {
            border-radius: 4px;
            display: inline-block;
            margin-left: 2em;
            padding-left: 0;
        }

        #header nav>ul>li a {
            -moz-transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            color: #cdced0;
            display: inline-block;
            text-decoration: none;
        }

        #header nav>ul>li a:active, #header nav>ul>li a:hover {
            color: #ffffff;
        }

        #header nav>ul>li:first-child {
            margin-left: 0;
        }

        #header nav>ul>li .button {
            background-color: #fff;
            color: #444 !important;
            height: 2.25em;
            line-height: 2.25em;
            margin-bottom: 0;
            padding: 0 1em;
            position: relative;
            top: -0.075em;
            vertical-align: middle;
        }

        #header .container {
            position: relative;
        }

        #header .container h1 {
            left: 0;
        }

        #header .container nav {
            right: 0;
        }

        /* Footer */
        #footer {
            background: #383b43;
            padding: 6em 0em 4em;
        }

        #footer h2, #footer h3, #footer h4 {
            color: #ffffff;
        }

        #footer p, #footer a, #footer li {
            color: #cdced0;
        }

        #footer .links {
            border-bottom: 1px solid rgba(144, 144, 144, 0.25);
            margin-bottom: 4em;
            padding-bottom: 1em;
        }

        #footer .copyright {
            margin-top: 0.65em;
            padding: 0;
        }

        #footer .copyright li {
            color: #858585;
            display: inline-block;
            list-style: none;
            margin-left: 0.5em;
            padding-left: 0.5em;
        }

        #footer .copyright li:first-child {
            margin-left: 0;
            padding-left: 0;
        }

        #footer .copyright a {
            color: #858585;
        }

        #footer .icons {
            text-align: right;
        }

        #footer a.icon {
            color: #ffffff;
            font-size: 0.65em;
            height: 4em;
            line-height: 4em;
            width: 4em;
            cursor: pointer;
        }
        /*泓元區end*/