body {
    font-size: 100%;
    font-family: Microsoft JhengHei;
}

#housenav {
    overflow: hidden;
    position: relative;
    transform: translateX(0px);
    height: 690px;
    width: 200px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 10% 10% 0%;
    background: linear-gradient(180deg, #F1F1F1 20%, #EDEDD7 80%);
    margin-top: 10px;
}

#housenav.nav-open {
    transform: translateX(-100px);
    border-radius: 0% 0% 100% 50%;
    background: none;
}

#housenav .menu-btn {
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

#housenav .menu-btn .line {
    padding: 0;
    width: 30px;
    background: black;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

#housenav .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
}

#housenav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(0) translateY(0);           
}

#housenav .menu-btn .line.line--2 {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

#housenav .menu-btn .line.line--2.line-fade-out {
    width: 26px;
    transform: translateX(0);
    opacity: 1;
}

#housenav .menu-btn .line.line--3 {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
}

#housenav .menu-btn .line.line--3.line-cross {
    width: 22px;
    transform: rotate(0) translateY(0);           
}

#housenav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0px);
    opacity: 1;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

#housenav .nav-links.fade-in {
    opacity: 0;
    transform: translateX(-100px);
}

#housenav .nav-links .link {
    margin: 10px 0;
    text-decoration: none;
    color: rgba(0,0,0,0.9);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
    border: none;
    background-color: transparent;
    outline: none;
}

#housenav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}

#body {
    width: 100%;
    height: auto;
}
#left {
    width: 10%;
    height: auto;
    float: left;
}
#center {
    width: 80%;
    height: 751px;
    overflow: auto;
    float: left;
    text-align: center;
}
#right {
    width: 10%;
    height: auto;
    float: left;
}
#foot {
    width: 100%;
    height: auto;
    float: left;
}
#count {
    font-weight: bold;
    color: #265895;
    font-size: 90%;
}
.houseinfo {
    width: 18%;
    height: 320px;
    margin: 25px 15px 0 15px;
    background-color: #F7F2F2;
    border-radius: 15px;
    display: inline-block;
}
.linfo {
    width: 100%;
    height: 250px;
    float: left;
    box-sizing: border-box;
    display:flex;
    align-items:center;
    justify-content:center;
}
.cinfo {
    width: 100%;
    height: 30px;
    float: left;
    box-sizing: border-box;
    line-height: 25px;
}

.rinfo {
    width: 100%;
    height: 30px;
    float: left;
    box-sizing: border-box;
}

.rinfo .link{
    background-color: #F0E145;
    width: 60%;
    height: auto;           
    margin: 0 auto;
    border-radius: 20px;
    line-height: 25px;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 6px silver;
}
.rinfo .link:hover {
    background-color: #F1FAB0;
}
.rinfo .link:active {
    background-color: #E2D120;
    transform: translateY(5px);
}
.rinfo .link a{
    text-decoration: none;
    color: black;
}
.pic {
    width: 95%;
    height: 230px;
    border-radius: 15px;
}
.pic:hover {
	animation: swing 0.8s 1;
}
.fontstyle {
    font-weight: bold;
    color: #484641;
    font-size: 120%;
}
.numberstyle {
    font-weight: bold;
    color: #3A9AB4;
    font-size: 120%;
}
@keyframes swing{
	15%{transform: translateX(2px);}
	40%{transform: translateX(-2px);}
	65%{transform: translateX(1px);}
	85%{transform: translateX(-1px);}
	100%{transform: translateX(0px);}
}
table {
	width: 98%;
	border-collapse: separate;
	text-align: center;
	margin: 5px auto;
	font-weight: bold;
}
th {
	background-color: #DBFCE0;
	border-radius: 5px;
	overflow: auto;
}
th:hover {
	background-color: #E5FDE8;
}
td {
	background-color: #F0ECEC;
	border-radius: 5px;
	overflow: auto;
}
td:hover {
	background-color: #E9E7E7;
}
.count1 {
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
}
.count2 {
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
	color: #B35812;
}
.hos {
	background-color: #FEF5C1;
}
.hos:hover {	
	background-color: #FCFBD6;
}
.fun {
	background-color: #BDF8F6;
}
.fun:hover {
	background-color: #D2FFF7;
}

.status {
	color: #B35812;
}
.picbtn {
	display: none;
}
#search {
	display: inline-block;
	margin-bottom: 3px;
	text-align: center;
}
#search input {
	outline: none;
}
#logo {
	width: 80px;
	height: auto;
	position: fixed;
	right: 10px;
	bottom: 85px;
	cursor: pointer;
	border-radius: 20px;
	opacity: 0.8;
}
#logo:hover {
	width: 85px;
	opacity: 1;
}
.logo {
	display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
}
.logo img {
	width: 25px;
	height: auto;	
	margin-right: 5px;
	border-radius: 20px;
}
.logo img:active {
	transform: translateY(2px);
}
@media (min-width: 901px) and (max-width: 1400px){
    #center {
	    height: 785px;
	}
	#logo {
		bottom: 50px;
	}
    .houseinfo {
        width: 36%;
        margin: 15px 15px 0 15px;
    }
    #housenav {
        transform: translateX(-30px);
        width: 170px;
    }
}
@media (max-width: 900px){
    #center {
	    height: 785px;
	}
	#logo {
		bottom: 50px;
	}
    .houseinfo {
        width: 62%;
    }
    #housenav {
        transform: translateX(-90px);
        width: 140px;
        border-radius: 0% 0% 100% 50%;
        background: none;
        position: fixed;
    }
    #housenav.nav-open {
        transform: translateX(0px);
        border-radius: 0% 10% 10% 0%;
        background: #E6E6DE;
    }
    #housenav .menu-btn .line.line--1 {
        width: 30px;
        transform: rotate(0) translateY(0);
    }
    #housenav .menu-btn .line.line--1.line-cross {
        width: 30px;
        transform: rotate(45deg) translateY(10px);
        background: rgba(0,0,0,0.6);
    }
    #housenav .menu-btn .line.line--2 {
        width: 26px;
        transform: translateX(0);
        opacity: 1;
    }
    #housenav .menu-btn .line.line--2.line-fade-out {
        width: 28px;
        transform: translate(30px);
        opacity: 0;

    }
    #housenav .menu-btn .line.line--3 {
        width: 22px;
        transform: rotate(0) translateY(0);
    }
    #housenav .menu-btn .line.line--3.line-cross {
        width: 30px;
        transform: rotate(-45deg) translateY(-10px);
        background: rgba(0,0,0,0.6);                      
    }
    #housenav .nav-links {
        opacity: 0;
        transform: translateX(-100px);
    }
    #housenav .nav-links.fade-in {
        transform: translateX(0px);
        opacity: 1;
    }
}