<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>EA103G2</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/G2DB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Ian -->
	<servlet>
		<servlet-name>Con_aplServlet</servlet-name>
		<servlet-class>com.apl.controller.Con_aplServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Con_aplServlet</servlet-name>
		<url-pattern>/apl/Con_aplServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConServlet</servlet-name>
		<servlet-class>com.cont.controller.ConServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConServlet</servlet-name>
		<url-pattern>/cont/ConServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecServlet</servlet-name>
		<servlet-class>com.rec.controller.RecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecServlet</servlet-name>
		<url-pattern>/rec/RecServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ComServlet</servlet-name>
		<servlet-class>com.comment.controller.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComServlet</servlet-name>
		<url-pattern>/com/ComServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContractSingleImgReader</servlet-name>
		<servlet-class>com.cont.controller.ContractSingleImgReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContractSingleImgReader</servlet-name>
		<url-pattern>/ContractSingleImgReader</url-pattern>
	</servlet-mapping>


	<!-- YiJing -->
	<servlet>
		<servlet-name>TntServlet</servlet-name>
		<servlet-class>com.tnt.controller.TntServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TntServlet</servlet-name>
		<url-pattern>/tnt/TntServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TntServlet2</servlet-name>
		<servlet-class>com.tnt.controller.TntServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TntServlet2</servlet-name>
		<url-pattern>/tnt/TntServlet2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LldServlet</servlet-name>
		<servlet-class>com.lld.controller.LldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LldServlet</servlet-name>
		<url-pattern>/lld/LldServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LldServlet2</servlet-name>
		<servlet-class>com.lld.controller.LldServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LldServlet2</servlet-name>
		<url-pattern>/lld/LldServlet2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImgReader</servlet-name>
		<servlet-class>ImgReader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImgReader</servlet-name>
		<url-pattern>/ImgReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImgReader_vrf</servlet-name>
		<servlet-class>ImgReader_vrf</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImgReader_vrf</servlet-name>
		<url-pattern>/ImgReader_vrf</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/front-end/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>


	<!-- Big Snake -->
	<servlet>
		<servlet-name>HouseServlet</servlet-name>
		<servlet-class>com.housemanage.controller.HouseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseServlet</servlet-name>
		<url-pattern>/house_manage/HouseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HouseServlet_BE</servlet-name>
		<servlet-class>com.housemanage.controller.HouseServlet_BE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseServlet_BE</servlet-name>
		<url-pattern>/house_manage/HouseServlet_BE</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HouseSingleImgReader</servlet-name>
		<servlet-class>com.housemanage.controller.HouseSingleImgReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseSingleImgReader</servlet-name>
		<url-pattern>/HouseSingleImgReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HouseImgReader</servlet-name>
		<servlet-class>com.housemanage.controller.HouseImgReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseImgReader</servlet-name>
		<url-pattern>/HouseImgReader</url-pattern>
	</servlet-mapping>

	<!-- Terry -->
	<servlet>
		<servlet-name>bookingServlet</servlet-name>
		<servlet-class>com.booking.controller.bookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookingServlet</servlet-name>
		<url-pattern>/booking/bookingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>collectionServlet</servlet-name>
		<servlet-class>com.collection.controller.collectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>collectionServlet</servlet-name>
		<url-pattern>/collection/collectionServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GMapServlet</servlet-name>
		<servlet-class>com.houserch.controller.GMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GMapServlet</servlet-name>
		<url-pattern>/Housearch/GMapServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SelectpageServlet</servlet-name>
		<servlet-class>com.houserch.controller.SelectpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectpageServlet</servlet-name>
		<url-pattern>/Housearch/SelectpageServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>HouseDetServlet</servlet-name>
		<servlet-class>com.housedet.controller.HouseDetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseDetServlet</servlet-name>
		<url-pattern>/HouseDet/HouseDetServlet</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>default</servlet-name> -->
	<!-- <url-pattern>/resource/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- chi -->
	<servlet>
		<servlet-name>RepairServlet</servlet-name>
		<servlet-class>com.repair.controller.RepairServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairServlet</servlet-name>
		<url-pattern>/repair/repair.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Repair_pictureServlet</servlet-name>
		<servlet-class>com.repair.controller.Repair_pictureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Repair_pictureServlet</servlet-name>
		<url-pattern>/repair/repair_picture.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HcmServlet</servlet-name>
		<servlet-class>com.house_comments.controller.House_commentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HcmServlet</servlet-name>
		<url-pattern>/house_comments/house_comments.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LcmServlet</servlet-name>
		<servlet-class>com.landlord_comments.controller.Landlord_commentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LcmServlet</servlet-name>
		<url-pattern>/landlord_comments/landlord_comments.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TcmServlet</servlet-name>
		<servlet-class>com.tenant_comments.controller.Tenant_commentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TcmServlet</servlet-name>
		<url-pattern>/tenant_comments/tenant_comments.servlet</url-pattern>
	</servlet-mapping>

	<!-- Wayne -->
	<servlet>
		<servlet-name>RpttServlet</servlet-name>
		<servlet-class>com.rptt.controller.RpttServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RpttServlet</servlet-name>
		<url-pattern>/back-end/rptt/RpttServlet</url-pattern>
		<url-pattern>/front-end/rptt/RpttServlet</url-pattern>
		<url-pattern>/back-end/vrf/RpttServlet</url-pattern>
		<url-pattern>/back-end/member/RpttServlet</url-pattern>
		<url-pattern>/front-end/index/RpttServlet</url-pattern>
		
	</servlet-mapping>
	<servlet>
		<servlet-name>RpthServlet</servlet-name>
		<servlet-class>com.rpth.controller.RpthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RpthServlet</servlet-name>
		<url-pattern>/back-end/rpth/RpthServlet</url-pattern>
		<url-pattern>/front-end/rpth/RpthServlet</url-pattern>
	    <url-pattern>/front-end/index/RpthServlet</url-pattern>
		
	</servlet-mapping>
	<servlet>
		<servlet-name>RptlServlet</servlet-name>
		<servlet-class>com.rptl.controller.RptlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RptlServlet</servlet-name>
		<url-pattern>/back-end/rptl/RptlServlet</url-pattern>
		<url-pattern>/front-end/rptl/RptlServlet</url-pattern>
		
	</servlet-mapping>
	<servlet>
		<servlet-name>RpttcServlet</servlet-name>
		<servlet-class>com.rpttc.controller.RpttcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RpttcServlet</servlet-name>
		<url-pattern>/back-end/rpttc/RpttcServlet</url-pattern>
		<url-pattern>/front-end/rpttc/RpttcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RptlcServlet</servlet-name>
		<servlet-class>com.rptlc.controller.RptlcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RptlcServlet</servlet-name>
		<url-pattern>/back-end/rptlc/RptlcServlet</url-pattern>
		<url-pattern>/front-end/rptlc/RptlcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RpthcServlet</servlet-name>
		<servlet-class>com.rpthc.controller.RpthcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RpthcServlet</servlet-name>
		<url-pattern>/back-end/rpthc/RpthcServlet</url-pattern>
		<url-pattern>/front-end/rpthc/RpthcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RptrServlet</servlet-name>
		<servlet-class>com.rptr.controller.RptrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RptrServlet</servlet-name>
		<url-pattern>/back-end/rptr/RptrServlet</url-pattern>
		<url-pattern>/front-end/rptr/RptrServlet</url-pattern>
	</servlet-mapping>

	<!-- Melon -->
	<servlet>
		<servlet-name>MailServiceBackEnd</servlet-name>
		<servlet-class>tools.MailServiceBackEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServiceBackEnd</servlet-name>
		<url-pattern>/back-end/emp/forgot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.emp.controller.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/back-end/emp/emp.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoginFilterBackEnd</filter-name>
		<filter-class>filters.LoginFilterBackEnd</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilterBackEnd</filter-name>
		<url-pattern>/back-end/index.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
</web-app>